<a href="https://colab.research.google.com/github/abhidya/UtklML_Fall2019_Intro/blob/master/Intro_Python3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1 align="center"> Python Basics</h1>

## Why Python

Python is Open Source (Free). Lots of people from around the world are continually improving python. Used worldwide at top tier companies (youtube, google, yelp, etc) <br>

Also Nature recommends it [(link)](http://www.nature.com/news/programming-pick-up-python-1.16833)

## Why IPython/Jupyter

The IPython Notebook is another popular package — “a coder's lab notebook” — that allows users to interleave data, code and explanatory text in a single browser-based page, rather than in separate files

### Install Anaconda
If you don't have python installed, please see the blog post or youtube video for your operating system (Mac, Windows Ubuntu)

Operating System | Blog Post | Youtube Video
--- | --- | ---
Mac | [Install Anaconda on Mac](https://medium.com/@GalarnykMichael/install-python-on-mac-anaconda-ccd9f2014072#.lvhw2gt3k "Install Anaconda on Mac") | [Youtube Video](https://www.youtube.com/watch?v=B6d5LrA8bNE "Youtube Video")
Ubuntu | [Install Anaconda on Ubuntu](https://medium.com/@GalarnykMichael/install-python-on-ubuntu-anaconda-65623042cb5a#.4kwsp0wjl "Install Anaconda on Ubuntu") | [Youtube Video](https://www.youtube.com/watch?v=jo4RMiM-ihs "Youtube Video")
Windows | [Install Anaconda on Windows](https://medium.com/@GalarnykMichael/install-python-on-windows-anaconda-c63c7c3d1444#.66f7y3whf "Install Anaconda on Windows") | [Youtube Video](https://www.youtube.com/watch?v=dgjEUcccRwM "Youtube Video")

## Basic Types

The main basic data types in python are numbers (ints and floats), booleans and strings.

### Hello World!
alphanumeric characters in quotations

In [0]:
# This is a one line comment
print('Hello World!')

Hello World!

In [0]:
# Strings can be enclosed by ',", or """
print("Hello World!")

Hello World!

In [0]:
print("The \n makes a new line")

The
 makes a new line

In [0]:
print("The \t is a tab")

The 	 is a tab

In [0]:
# Creating a variable
# Variables are used to store information to be referenced 
# and manipulated in a computer program.

firstVariable = 'Hello World'
print(firstVariable)

Hello World

### String Manipulations

Strings are a special type of a python class. As objects, in a class, you can call methods on string objects using the .methodName() notation. The string class is available by default in python, so you do not need an import statement to use the object interface to strings.

In [0]:
# go over ? mark after if you are not sure what method does. 
print(firstVariable.lower())
print(firstVariable.upper())
print(firstVariable.title())

hello world
HELLO WORLD
Hello World

In [0]:
# Can also use help
help(firstVariable.lower)

Help on built-in function lower:

lower(...)
    S.lower() -> string

    Return a copy of the string S converted to lowercase.

In [0]:
firstVariable.split(' ')

['Hello', 'World']

In [0]:
a=firstVariable.split(' ')
a

['Hello', 'World']

In [0]:
' '.join(a)

'Hello World'

In [0]:
print("0" + "1")

01

In [0]:
"0" * 3

'000'

In [0]:
# You can add strings together. 
"Fizz" + "Buzz"

'FizzBuzz'

## Simple Math

There are four distinct numeric types: plain integers, long integers, floating point numbers, and complex numbers. In addition, Booleans are a subtype of plain integers.

In [0]:
# Addition, add two int together
1+1

2

In [0]:
130-2

128

In [0]:
# integer division
130/2

65.0

In [0]:
# Multiplication
2*3

6

In [0]:
# Exponentiation ** 
# This operator raises the number to its left to the power of the number to its right 
2**3

8

In [0]:
# Modulo
# Returns the remainder of the division of the number to the left by the 
# number on its right. 
9%3

0

## if statement

<h1 align="center">While Loop</h1>

Comparison Operator | Function
--- | --- 
< | less than
<= | less than or equal to
> | greater than
>= | greater than or equal to
== | equal
!= | not equal

check if something is True, if it is, do it. If it is not True (False), don't do it<br>

In [0]:
# Notice you have to indent after you start a if statement. 
num = 3
if num == 3: 
    print(num)

3

In [0]:
# Nothing is outputted because num > 10 is FALSE
num = 3
if num > 10:
    print(num)

In [0]:
num = 3
if num % 3 == 0:
    print("Fizz")

Fizz

In [0]:
num = 10
if num % 5 == 0:
    print("Buzz")

Buzz

In [0]:
if True:
    print("This was True")

This was True

In [0]:
if False: 
    print("Nothing printed")

Logical Operator | Description
--- | ---
and | If both the operands are True then condition becomes True.
or | If any of the two operands are True then condition becomes True. 
not | Used to reverse the logical (not False becomes True, not True becomes False)

In [0]:
num = 4
num > 0 and num  < 15

True

In [0]:
# both the conditions are true, so the num will be printed out
if num > 0 and num  < 15:
    print(num)

4

In [0]:
# num > 0 is True, num > 15 is False
# Since the first condition is True, it is True
num = 4
num > 0 or num  > 15

True

In [0]:
if num > 0 or num  > 15:
    print(num)

4

In [0]:
# or will only evaluate to False if both are False
if False or False:
    print('Nothing will print out')

In [0]:
num = 10
not num < 20

False

## else statement

Must be after an if or elif statement. There can be at most one else statement. Will only be executed if all the "if" and "elif" statements above it are False.

In [0]:
num = 1
if num > 3 :
    print("Hi")

In [0]:
"""We will execute what is inside the else statement
because num is not greater than 3
"""
num = 1
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

number is not greater than 3

In [0]:
"""We will execute what is inside the if statement because num > 4"""
num = 4
if num > 3 :
    print("Hi")
else: 
    print("number is not greater than 3")

Hi

## Lists

In [0]:
# Defining a list
z = [3, 7, 4, 2]

### Accessing Values in List

In [0]:
# The first element of a list is at index 0
z[0]

3

In [0]:
z[2]

4

In [0]:
# Access Last Element of List 
z[-2]

4

### Slicing Lists

In [0]:
# first index is inclusive (before the :) and last (after the :) is not. 
# not including index 2
z[0:2]

[3, 7]

In [0]:
# everything up to index 3
z[:3]

[3, 7, 4]

In [0]:
# index 1 to end of list
z[1:]

[7, 4, 2]

### Minimum, Maximum, Length, and Sum of a list

In [0]:
print(min(z), max(z), len(z), sum(z))

2 7 4 16

### Count Number of Times Value is in List

In [0]:
random_list = [4, 1, 5, 4, 10, 4]
random_list.count(4)

3

### Return First Index of Value

 |  |  |  |  |  |
--- | --- | --- | --- | --- | --- | ---
random_list =| [4, | 1, | 5, | 4, | 10, | 4]
index=| 0 | 1 | 2 | 3 | 4 | 5

In [0]:
random_list.index(4)

0

In [0]:
# you can specify where you start your search
random_list.index(4, 3)

3

In [0]:
# random_list.index(value, [start, stop])
random_list.index(4, 5, 6)

5

### Sorting a list

In [0]:
x = [3, 7, 2, 11, 8, 10, 4]
y = ['Steve', 'Rachel', 'Michael', 'Adam', 'Monica', 'Jessica', 'Lester']

In [0]:
# Sorting and Altering original list
# low to high
x.sort()
print(x)

[2, 3, 4, 7, 8, 10, 11]

In [0]:
# Sorting and Altering original list
# high to low
x.sort(reverse = True)
print(x)

[11, 10, 8, 7, 4, 3, 2]

In [0]:
# Sorting and Altering original list
# A-Z
y.sort()
print(y)

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [0]:
# Sorting and Altering original list
# Z-A
y.sort(reverse = True)
print(y)

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

In [0]:
# sorting list WITHOUT altering original list 
new_list = sorted(y)
new_list

['Adam', 'Jessica', 'Lester', 'Michael', 'Monica', 'Rachel', 'Steve']

In [0]:
# notice y is unchanged
y

['Steve', 'Rachel', 'Monica', 'Michael', 'Lester', 'Jessica', 'Adam']

<h1 align="center"> For Loops </h1>

For loops are a common way to iterate over the elements of an object (in this first example, a list)<br>
Any object with an iterable method can be used in a for loop.

One unique feature of python is that code blocks are NOT surrounded by {} begin,end. Instead, python uses indentation, The lines inside a block have to be indented by a tab, or by 4 spaces, relative to the surrounding commands.

While this might seem unintuitive at first, it encourages writing more readable code, over time, you'd learn to love it!

In [0]:
# The Python for statement iterates over the members of a sequence in order,
# executing the block each time. 

# take the first member of the list (iterable), call it number temporarily do something with it (print it)
# take second member of the list (iterable), call it number temporarily do something through and so on...
for number in [23, 41, 12, 16, 7]: 
    print(number)
print('Hi')

23
41
12
16
7
Hi

### Emunerate

Returns a tuple containing a count for every iteration (from start which defaults to 0) and the values obtained from iterating over sequence:

In [0]:
friends = ['steve', 'rachel', 'michael', 'adam', 'monica']
for index, friend in enumerate(friends):
    print(index,friend)

0 steve
1 rachel
2 michael
3 adam
4 monica

### Break

break statement will completely break out of loop

In [0]:
cleaned_list = []

In [0]:
for word in text.split(' '): 
    if word == 'desert':
        print('I found the word I was looking for')
        break
    cleaned_list.append(word)
cleaned_list

I found the word I was looking for

['On', 'a', 'dark']

<h1 align="center"> Functions </h1>

## Python Functions to Remove Duplicates from List

In [0]:
# Python code to remove duplicate elements from list

def remove_duplicates(duplicate): 
    uniques = [] 
    for num in duplicate: 
        if num not in uniques: 
            uniques.append(num) 
    return(uniques)
      
duplicate = [2, 4, 10, 20, 5, 2, 20, 4] 
print(remove_duplicates(duplicate))

[2, 4, 10, 20, 5]

Another thing that is worth mentioning when you’re working with the return statement is the fact that you can use it to return multiple values. To do this, you make use of tuples.